div {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    a {
        color: #e72929;
        background-color: #F0F0F0;
        margin: 0.2rem 0.15rem;
        padding: 0.3rem 1rem;
        border-radius: 10rem;
        font-weight: 800; 

    }
}